.sidebar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100vh;
    /* width: 275px; */
    background-image: linear-gradient(180deg, rgb(25, 25, 25), rgb(20, 20, 20) 75%);
    z-index: 2;
}

.sidebar .logo-details {
    top: 25px;
    /* left: 25px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 10px;
}

.sidebar .logo-details .icon {
    color: white;
    font-size: 32px;
}

.sidebar .logo-details .logo-name {
    color: white;
    font-size: 24px;
    font-weight: 500;
    opacity: 1;
    user-select: none;
}

.sidebar .nav-list {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    margin-top: 75px;
    /* height: 100%; */
    width: 100%;
    gap: 30px;
}

.sidebar .nav-list .artists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.sidebar .nav-list .title {
    font-size: 14px;
    color: white;
}

.sidebar .nav-list .artists .title {
    margin-bottom: 5px;
}

.sidebar .nav-list .artists .artist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 225px;
    /* height: 50px; */
    color: white;
    background-color: rgb(40, 40, 40);
    gap: 5px;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.25s, transform 0.25s;
}

.sidebar .nav-list .artists .artist:hover {
    background-color: rgb(60, 60, 60);
    transform: translateY(-5%);
    cursor: pointer;
}

.sidebar .nav-list .artists .artist .info {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.sidebar .nav-list .artists .artist .info .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5px;
}

.sidebar .nav-list .artists .artist .info .text .popularity {
    display: flex;
    gap: 2.5px;
    color: rgb(170, 170, 170);
}

.sidebar .nav-list .artists .artist .info .name {
    text-align: start;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .nav-list .artists .artist .score {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
    width: 35px;
}

.sidebar .nav-list .artists .artist .score .fa-fire-flame-curved {
    color: rgb(255, 186, 125);
}

.sidebar .nav-list .artists .artist .score .fa-snowflake {
    color: rgb(123, 200, 228);
}

.sidebar .nav-list .artists .artist .info .image {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.sidebar .nav-list .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.sidebar .nav-list .menu .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.sidebar .nav-list .menu .link i {
    font-size: 16px;
    min-width: 50px;
    line-height: 60px;
}

.sidebar .nav-list .menu .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 225px;
    opacity: 0.5;
    text-decoration: none;
    transition: opacity 0.1s ease;
    color: white;
}

.sidebar .nav-list .menu .link.open {
    border-radius: 15px;
    opacity: 1;
}

.sidebar .nav-list .menu .link:hover {
    opacity: 0.75;
    cursor: pointer;
}

@property --usercolor1 {
    syntax: '<color>';
    initial-value: rgb(40, 40, 40);
    inherits: false;
}
  
@property --usercolor2 {
    syntax: '<color>';
    initial-value: rgb(35, 35, 35);
    inherits: false;
}

.sidebar .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 235px;
    padding: 7.5px 5px 7.5px 10px;
    border-radius: 35px;
    background-image: linear-gradient(90deg, var(--usercolor1), var(--usercolor2) 10%);
    color: rgb(120, 120, 120);
    transition: transform 0.25s, --usercolor1 0.25s, --usercolor2 0.25s;
}

.sidebar .user:hover {
    cursor: pointer;
    transform: translateY(-5%);
    --usercolor1: rgb(60, 60, 60);
    --usercolor2: rgb(50, 50, 50);
}

.sidebar .user .profile {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.sidebar .user .profile p {
    text-align: start;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .user .change {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    padding: 10px;
}

.sidebar .user .change .fa-fire-flame-curved {
    color: rgb(255, 186, 125);
}

.sidebar .user .change .fa-snowflake {
    color: rgb(123, 200, 228);
}

.sidebar .user .image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    background-color: rgb(190, 190, 190);
}


@media (min-width: 0) {
    .sidebar {
        width: 275px;
        right: -275px;
        left: unset;
    }
}

@media (min-width: 800px) {
    .sidebar .logo-details {
        gap: 10px;
    }

    .sidebar .logo-details .icon {
        font-size: 30px;
    }
    
    .sidebar .logo-details .logo-name {
        font-size: 30px;
    }
    
    .sidebar {
        right: unset;
        left: 0;
    }
}

@media (min-width: 1920px) {

    .sidebar .nav-list {
        margin-top: 4.5vw;
        gap: 1.5vw;
    }

    .sidebar .nav-list .artists {
        gap: 1vw;
    }

    .sidebar .nav-list .artists .title {
        margin-bottom: 0.25vw;
    }

    .sidebar .nav-list .artists .artist {
        width: 12vw;
        gap: 0.5vw;
        padding: 0.75vw;
        border-radius: 0.5vw;
    }
    
    .sidebar .nav-list .artists .artist .info {
        gap: 0.5vw;
        font-size: 0.7vw;
    }

    .sidebar .nav-list .artists .artist .info .text {
        gap: 0.15vw;
    }

    .sidebar .nav-list .artists .artist .info .text .popularity {
        gap: 0.15vw;
    }
    
    .sidebar .nav-list .artists .artist .info .name {
        width: 100px;
    }
    
    .sidebar .nav-list .artists .artist .score {
        font-size: 0.75vw;
        gap: 0.25vw;
        width: 2vw;
    }
    
    .sidebar .nav-list .artists .artist .info .image {
        height: 1.75vw;
        width: 1.75vw;
        border-radius: 50%;
    }

    .sidebar .nav-list .menu .links {
        gap: 0.5vw;
        margin-top: 0.75vw;
    }

    .sidebar .nav-list .menu .link {
        width: 12vw;
        font-size: 0.85vw;
        height: 5vh;
    }

    .sidebar .nav-list .menu .link i {
        font-size: 0.85vw;
        min-width: 3vw;
    }

    .sidebar .nav-list .title {
        font-size: 0.85vw;
    }

    .sidebar .logo-details {
        gap: 0.5vw;
    }

    .sidebar .logo-details .icon {
        font-size: 1.75vw;
    }
    
    .sidebar .logo-details .logo-name {
        font-size: 1.75vw;
    }

    .sidebar {
        width: 15vw;
    }

    .sidebar .user {
        left: 1vw;
        bottom: 1vw;
        width: 13vw;
        border-radius: 7vw;
        padding: 0.65vw;
    }

    .sidebar .user .profile {
        gap: 0.5vw;
    }

    .sidebar .user .profile p {
        font-size: 0.85vw;
        max-width: 10vw;
    }

    .sidebar .user .change {
        gap: 0.25vw;
        font-size: 0.75vw;
        padding: 0.25vw;
    }

    .sidebar .user .image {
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 1vw;
    }
}